Add MJS, Atom and RSS assets to the doc's

This issue relates to the issue found on October's github here: https://github.com/octobercms/october/issues/3646 and also the PR found here: https://github.com/octobercms/october/pull/3648

## MJS and Atom

```
// Include MJS file
$this->addJs('/path/to/mjs/file.mjs', ['type' => 'module']);

// Include Atom file
$this->addRss('/path/to/atom/file.xml', ['title' => 'Atom', 'type' => 'application/atom+xml']);
```

## addRss()

I did a search in this github and on October CMS and I can't find any mention of this, however it is clearly there in October's code when you do a die and dump. It would be wonderful to also mention this in the doc's.

## Please Note

`addJs()` and `addCss()` is mentioned on many pages in the doc's explaining how to add assets to various things in October such as Components, Pages etc.


@LukeTowers 

I was just working with some `.mjs` files and discovered this issue with mime-types:

JavaScript ([IANA Specification](https://www.iana.org/assignments/media-types/application/javascript)) ([RFC 4329 Section 8.2](https://tools.ietf.org/html/rfc4329#section-8.2))
`.js`
**_application/javascript_**

Javascript Modules ([Issue per Spec](https://github.com/whatwg/html/issues/558))
`.mjs`
**_text/javascript_**

**Note: They have different mime-types!**

Would it be best to re-code the following file: https://github.com/octobercms/october/blob/master/modules/system/traits/AssetMaker.php

```
// Javascript
        if ($type == null || $type == 'js') {
            foreach ($this->assets['js'] as $asset) {
                $attributes = Html::attributes(array_merge(
                    [
                        'src' => $this->getAssetEntryBuildPath($asset),
                        **'type'  => 'application/javascript'**
                    ],
                    array_except($asset['attributes'], $reserved)
                ));
                $result .= '<script' . $attributes . '></script>' . PHP_EOL;
            }
        }
        return $result;

// Javascript Modules
        if ($type == null || $type == 'mjs') {
            foreach ($this->assets['mjs'] as $asset) {
                $attributes = Html::attributes(array_merge(
                    [
                        'src' => $this->getAssetEntryBuildPath($asset),
                        **'type'  => 'text/javascript'**
                    ],
                    array_except($asset['attributes'], $reserved)
                ));
                $result .= '<script' . $attributes . '></script>' . PHP_EOL;
            }
        }
        return $result;
```


@ayumihamsaki does it actually make a difference in any browser what the `type` attribute is?

@LukeTowers yes, I was reading last night that it does with the "Javascript Modules", but the normal JS will pass. That's why I wrote the comment above to let you know. What do you think, should we create a new mjs now as they have different mime-types?

@ayumihamsaki no, just update the documentation to say when including MJS pass the `type` parameter explicitly.

Document File Location: https://github.com/octobercms/docs/blob/master/plugin-components.md

This is outside the scope of the platform